/* header */
header{
    width: 100%;
    background-color: var(--color-nav);
    position: sticky;
    top: 0;
    padding: 0 15px;
    box-shadow: 1px 7px 12px -4px rgba(176,176,176,0.7);
    -webkit-box-shadow: 1px 7px 12px -4px rgba(176,176,176,0.7);
    -moz-box-shadow: 1px 7px 12px -4px rgba(176,176,176,0.7);
    z-index: 100000;
}
header .wrapper-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .left-menu,
header .right-menu{
    display: flex;
    align-items: center;
}
header .left-menu,
header .center-menu{
    flex-grow: 1;
}
/* logo */
header .logo {
    padding: 0 10px;
}
header .logo:hover {
    border-radius: 10px;
}

header .logo:active {
    background-color: rgb(245, 245, 245);
    transition: .1s ease-in;
}

header .logo font:nth-child(1){
    color: var(--color-primary);
    font-size: 2.8rem;
    font-weight: 700;
}
header .logo font:nth-child(2){
    color: var(--color-text);
    font-size: 1.8rem;
    opacity: 0.8;
    font-weight: 700;
}
header .logo font:nth-child(3){
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (max-width: 1040px){
    header .logo font:nth-child(1){
        font-size: 2.5rem;
    }
    header .logo font:nth-child(2){
        font-size: 1.5rem;
    }
    header .logo font:nth-child(3){
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 576px){
    header{
        padding: 0 5px;
    }
    header .logo font:nth-child(1){
        font-size: 2.2rem;
    }
    header .logo font:nth-child(2){
        font-size: 1.4rem;
    }
    header .logo font:nth-child(3){
        font-size: 1.6rem;
    }
}


/* end logo */

/* search form */


header .left-menu .frm-search{
    margin-left: 3rem;
    max-width: 350px;
    flex-grow: 1;
}
header .left-menu .frm-search div{
    width: 100%;
    position: relative;
}
header .left-menu .frm-search div input{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    outline: none;
    border-radius: 10px;
    padding: 8px;
    padding-right: 30px;
    color: var(--color-text);
    opacity: 1;
}
header .left-menu .frm-search div input:focus {
    border-color: var(--color-primary);
}
header .left-menu .frm-search div button{
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
}
header .left-menu .frm-search div .icon{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    cursor: pointer;
}
header .left-menu .frm-search div input:focus ~ button .icon{
    color: var(--color-primary);
}

@media screen and (max-width: 1060px){
    header .left-menu .frm-search{
        margin-left: 2rem;
        max-width: 200px;
    }
}
@media screen and (max-width: 930px){
    header .left-menu .frm-search{
        max-width: 400px;
    }
 }
@media screen and (max-width: 576px){
    header .left-menu .frm-search{
        margin-left: 1rem;
    }
}

/* end search form */

/* center menu */


header .center-menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header .center-menu ul li{
     padding: 18px 20px;
 }
 header .center-menu ul li.m-hover{
     position: relative;
     
 }

 /* dropbox language */

 header .center-menu ul li.m-hover .dropbox{
    position: absolute;
    top: 100%;
    left: 50%;
    background: var(--color-dropbox);
    flex-direction: column;
    border-radius: 8px;
    transform: translateX(-50%);
 }
 header .center-menu ul li.m-hover:hover .dropbox{
    display: flex;
 }

 header .center-menu .dropbox span{
     cursor: pointer;
     padding: 10px 25px;
     color: var(--color-white);
 }
 header .center-menu .dropbox span:hover{
    text-decoration: underline;
 }
 header .center-menu ul li a{
     color: var(--color-text);
     opacity: 0.8;
     font-size: 20px;
     font-weight: 500;
     transition: 0.2s;
     cursor: pointer;
 }
 header .center-menu ul li a:hover{
     color: var(--color-primary);
 }
 header .center-menu ul .dropbox{
     display: none;
 }

 @media screen and (max-width: 1040px){
    header .center-menu ul li a{
        font-size: 16px;
    }
    header .center-menu ul li{
        padding: 15px 15px;
    }
 }
 @media screen and (max-width: 930px){
    header .center-menu{
        display: none;
    }
 }

 /* end center menu */

/* right menu */

header .right-menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .right-menu ul li{
    padding: 18px 20px;
    font-size: 22px;
}
header .right-menu ul li .btn-signin{
    font-size: 16px;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 2px 8px;
    border-radius: 8px;
}
header .right-menu ul li .btn-signin:hover{
    background: var(--color-primary);
    color: var(--color-white);
}
@media screen and (max-width: 1040px) {
    header .right-menu ul li .btn-signin{
        font-size: 14px;
    }
}
header .right-menu ul li.li-user .user-icon{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: relative;
    background-color: var(--color-primary);
    color: var(--color-nav);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
header .right-menu ul li.li-menu-button{
    display: none;
    justify-content: center;
    align-items: center;
}
header .right-menu .btn-menu{
    color: var(--color-primary);
    cursor: pointer;
    font-size: 2.3rem;
    transition: 0.2s;
}
header .right-menu .btn-menu:hover{
    opacity: 0.8;
}

/* user hover */

header .right-menu .user-icon .user-hower{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: var(--color-dropbox);
    color: var(--color-text);
    padding: 15px;
    border-radius: 8px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    cursor: auto;
}
header .right-menu .user-icon:hover .user-hower{
    display: flex;
    color: var(--color-white);
}
header .right-menu .user-icon .user-hower .header{
    width: 100%;
}
header .right-menu .user-icon .user-hower .header h4{
    font-size: 1.4rem;
    word-break: break-all;
}
header .right-menu .user-hower .header span{
    font-size: 1rem;
    opacity: 0.9;
    word-break: break-all;
}
header .right-menu .user-hower .body{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}
header .right-menu .user-hower .body .link{
    margin-top: 10px 0;
    transition: 0.2s;
    color: var(--color-white);
}
header .right-menu .user-hower .body .link:hover{
    text-decoration: underline;
}
header .right-menu .user-hower .footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .right-menu .user-hower .logout-txt{
    color: var(--color-text);
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--color-white);
}
header .right-menu .user-hower .logout-txt:first-child:hover{
    text-decoration: underline;
}


/* end user hover */

/* cart */
header .right-menu ul li.li-cart{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
header .right-menu ul li.li-cart .link-cart{
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
header .right-menu ul li.li-cart span{
    position: absolute;
    font-size: 16px;
    top: 10px;
    right: 10px;
    background: var(--color-discount);
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
/* end cart */

@media screen and (max-width: 1040px){
    header .right-menu ul li.li-user .user-icon{
        width: 35px;
        height: 35px;
    }
    header .right-menu ul li{
        padding: 15px 20px;
        font-size: 18px;
    }
    header .right-menu ul li.li-cart{
        font-size: 35px;
    }
    header .right-menu ul li.li-cart span{
        font-size: 14px;
        width: 25px;
        height: 25px;
    }
}
@media screen and (max-width: 930px){
    header .right-menu ul li.li-user{
        display: none;
    }
    header .right-menu ul li.li-menu-button{
        display: flex;
    }
 }
 @media screen and (max-width: 576px){
    header .right-menu ul li{
        padding: 18px 10px;
    }
 }

/* end right menu */